.blog-list {
  justify-content: center;
  justify-content: space-between;
  width: 700px;
  margin-left: 300px;
}

.blog-preview {
  padding: 20px;
  background-color: #399ca5;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #afafaf;
  margin-bottom: 20px;
  h4 {
    color: rgb(241, 241, 206);
    font-weight: bold;
    font-size: 20px;
  }
  p {
    font-size: 20px;
    font-style: italic;
  }

  h3 {
    margin: auto;
    border-radius: 5px;
    width: 100px;
    background-color: white;
    color: rgb(94, 93, 36);
    box-shadow: 5px 7px 15px #473535;
  }
  h3:hover {
    background-color: #6fdae4;
    color: black;
  }
}
a {
  text-decoration: none;
}
