.login{
    margin: auto;
    width: 100%;
    padding: 0px 100px;

    display: flex;
    flex-direction: column;
}

.login-form{
    display: block;
    flex-direction: column;
    label{
        color: rgb(23, 105, 101);
    }
    input{
        font-size: 20px;
        height: 30px;
        width: 300px;
        padding: 5px;
        text-align: initial;
    }
    button{
        margin: 20px;
        //background-color: black;
    }
}